.container{
  margin-top: 20px;
}
.game-container{
  width: 500px;
}
.board-container{
  margin-top: 20px;
}
.board-container .row{
  margin-bottom: 20px;
}
.board-container .game-cell button{
  width: 100px;
  height: 100px;
  font-size: 40px;
  font-weight: bold;
}
.player-info{
  font-size: 30px;
}
.player-info span{
  color: #419641;
  font-weight: bold;
}
